{% extends "base.html" %}

{% block head %}
<link href="/static/css/login_out.css" rel="stylesheet"/>
<script src="/static/js/login.js"></script>
<title>BEC-V Login Page</title>
{% endblock %}

{% block body %}
<div class="hero-unit" style="height: 100%;" class="text-center">
  <h2 style="display: block;" class="text-center">BEC-V Login Page</h2>
  {% if user.is_authenticated %}
  <alert type="'success'">
    You have already logged in. Redirect to
    <a href-hash href="{{ next | default:'/' | escape }}">previous page</a> in
    <b redirect-cnt="{{ next|escape }}" timeout="5"></b> seconds.
    Click <a href="/accounts/logout/">here</a> to logout.
  </alert>
  {% else %}
  <div class="text-center">
    <form action="/accounts/login/" method="post">
      {% if form.errors %}
      <alert type="'error'">
        Sorry, that's not a valid username or password
      </alert>
      {% endif %}
      {% csrf_token %}
      <div style="display: inline-block;" class="text-left">
        <label for="username">User Name</label>
        <input type="text" name="username" placeholder="User Name"/>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password"/>
        <label class="checkbox">
          <input type="checkbox" name="remember" checked="true"/> Remember Me
        </label>
        <input type="hidden" name="next" href-hash="value"
               value="{{ next|escape }}"/>
        <button type="submit" class="btn"
                style="display: inline-block;">
          <i class="icon-user"></i> Login
        </button>
      </div>
    </form>
  </div>
{% endif %}
</div>
{% endblock %}
