{% extends "base.html" %}

{% load jsonify %}

{% block head %}
<link href="/static/css/home.css" rel="stylesheet"/>
<title>BEC 5</title>
{% endblock %}

{% block body_attr %}
ng-controller="HomePageCtrl"
style="cursor: {[ {true: 'wait', false: 'auto'}[TProfile.busy] ]};"
ng-init="init({{ action_permissions | jsonify }}, {{ user_obj | jsonify }})"
{% endblock %}

{% block body %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="brand">BEC 5</div>
    <ul class="nav">
      <li ng-repeat="tab in home_tabs.all" title-btn="tab.id"
          title-btn-clicked="{false: false, true: redirect_to_login}[!permissions[tab.id]]"
          title-btn-model="home_tabs.active">
        <a href="#{[{false: '', true: tab.id}[!!permissions[tab.id]]]}">
          <i class="icon-lock" cond-disp="!permissions[tab.id]"></i> {[tab.name]}
        </a>
      </li>
    </ul>
    <div style="display: inline-block; float: right;">
      {% if user.is_authenticated %}
      <gravatar-image data-email="user.email" data-size="30"
                      data-secure="true">
      </gravatar-image>
      <a href="/accounts/logout/" class="btn">
        <i class="icon-user"></i> Logout
      </a>
      {% else %}
      <a href="/accounts/login/" class="btn">
        <i class="icon-user"></i> Login
      </a>
      {% endif %}
    </div>
  </div>
</div>
<div class="text-center">
  <div cond-disp="home_tabs.active == 'oven-control'">
    <table class="table">
      <thead>
        <tr class="text-info">
          <th style="text-align: center;">Current Setpoint</th>
          <th ng-repeat="ctrl in TControls" style="text-align: center;">
            {[ ctrl.name ]}
          </th>
          <th cond-disp="permissions['oven-settemp'] && show_advanced_actions"
              cond-disp-type="table-cell"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>{[ TProfile.cur_setpoint.name || '(Unknown)' ]}</b>
          </td>
          <td ng-repeat="ctrl in TControls"
              style="margin: 0; padding: 0; vertical-align: middle;"
              ng-switch="!!TProfile.editing_setpoint">
            <input ng-switch-when="true" type="number" step="any"
                   class="input-mini" style="margin: 0; height: 100%;"
                   ng-model="TProfile.edited_setpoint[ctrl.id]"/>
            <input ng-switch-default type="text" step="any" readonly
                   class="input-mini" style="margin: 0; height: 100%;"
                   ng-model="TProfile.cur_setpoint.temps[ctrl.id]"/>
          </td>
          <td cond-disp="permissions['oven-settemp'] && show_advanced_actions"
              cond-disp-type="table-cell">
            <div style="min-width: 90px;" ng-switch="!TProfile.editing_setpoint">
              <span ng-switch-when="true">
                <button class="btn btn-mini" ng-click="TProfile.edit_setpoint()">
                  <i class="icon-edit"></i> Change
                </button>
              </span>
              <span ng-switch-default>
                <button class="btn btn-mini btn-success"
                        ng-click="TProfile.edit_setpoint()">
                  <i class="icon-hdd icon-white"></i> Save
                </button>
                <button class="btn btn-mini cancel-button"
                        ng-click="TProfile.cancel_edit_setpoint()">
                  <i class="icon-remove"></i>
                </button>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="text-info">
          <th style="text-align: center;">
            Select Profile <i class="icon-arrow-down"></i>
          </th>
          <th ng-repeat="ctrl in TControls" style="text-align: center;">
            {[ ctrl.name ]}
          </th>
          <th cond-disp="permissions['oven-setprofile-temp'] && show_advanced_actions"
              cond-disp-type="table-cell"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="id in TProfile.ids"
            ng-class="{false: '', true: 'success'}[id == TProfile.cur]"
            style="cursor: pointer;">
          <td ng-click="TProfile.set_cur(id)">
            <input type="radio" value="{[ id ]}" ng-model="TProfile.cur"/>
            <b>{[ TProfile.all[id].name ]}</b>
          </td>
          <td ng-repeat="ctrl in TControls" ng-click="TProfile.set_cur(id)">
            {[ TProfile.all[id].temps[ctrl.id] | number:1 ]}
          </td>
          <td cond-disp="permissions['oven-setprofile-temp'] && show_advanced_actions"
              cond-disp-type="table-cell" style="cursor: default;">
            <div>
              <button class="btn btn-mini"
                      ng-click="TProfile.edit_profile(id)">
                <i class="icon-edit"></i> Edit
              </button>
              <button class="btn btn-mini btn-danger cancel-button"
                      ng-click="TProfile.remove_profile(id)">
                <i class="icon-remove icon-white"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="apply-status-icon"/>
    <button class="btn" cond-disp="permissions['oven-setprofile-temp'] && show_advanced_actions"
            ng-click="TProfile.add_profile()">
      <i class="icon-plus"></i> Add Profile
    </button>
    <button class="btn btn-info"
            ng-class="{false: '', true: 'disabled'}[!TProfile.all[TProfile.cur]]"
            ng-click="TProfile.do_apply()">
      <i class="icon-ok icon-white"></i> Apply
    </button>
    <div class="apply-status-icon" style="display: inline-block;">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="apply-status-icon" cond-disp="TProfile.status == 0"/>
      <img src="/static/img/loading.gif" class="apply-status-icon"
           cond-disp="TProfile.status == 1"/>
      <div cond-disp="TProfile.status == 2"
           style="display: inline-block; padding: 5px; height: 30px">
        <i class="icon-ok"></i>
      </div>
      <div cond-disp="TProfile.status &gt; 2"
           style="display: inline-block; padding: 5px; height: 30px">
        <i class="icon-remove"></i>
      </div>
    </div>
  </div>
  <div cond-disp="home_tabs.active == 'oven-temp'">
    <table class="table">
      <thead>
        <th>Controller</th>
        <th>Temperature</th>
        <th cond-disp="permissions['oven-setconroller'] && show_advanced_actions"
            cond-disp-type="table-cell"></th>
      </thead>
      <tbody>
        <tr ng-repeat="ctrl in TControls">
          <td class="big-text">{[ ctrl.name ]}</td>
          <td class="big-text text-info">
            {[ TValues[ctrl.id] | number:1 ]} &deg;C
          </td>
          <td cond-disp="permissions['oven-setcontroller'] && show_advanced_actions"
              cond-disp-type="table-cell">
            <button class="btn btn-mini" ng-click="setController(ctrl.id)">
              <i class="icon-edit"></i> Setting
            </button>
            <button class="btn btn-mini btn-danger cancel-button"
                    ng-click="removeController(ctrl)">
              <i class="icon-remove icon-white"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div class="checkbox"
           style="display: inline-block;">
        <input type="checkbox" ng-model="auto_temp">Automatic Update</input>
      </div>
      <br/>
      <div collapse="!show_advanced_actions">
        <button class="btn" cond-disp="permissions['oven-setcontroller']"
                ng-click="addController()">
          <i class="icon-plus"></i> Add Controller
        </button>
      </div>
    </div>
  </div>
  <div style="margin: 10px;" cond-disp="has_advanced_actions"
       cond-disp-type="block">
    <button class="btn btn-mini"
            ng-click="show_advanced_actions = !show_advanced_actions">
      {[ {true: 'Show', false: 'Hide'}[!show_advanced_actions] ]}
      Advanced Options
    </button>
  </div>
  <div style="margin: 10px;">
    <button class="btn btn-mini btn-link" style="width: 50%;"
            ng-click="log_collapsed = !log_collapsed">
      <div ng-class="{true: 'text-error msg-button-error', false: 'muted'}[!!(message_has_error() && log_collapsed)]">
        {[ {true: 'Show', false: 'Hide'}[log_collapsed] ]}
        {[ {true: 'Errors', false: 'Messages'}[message_has_error()] ]}
      </div>
    </button>
    <div collapse="log_collapsed">
      <alert ng-repeat="msg in messages | orderBy:'id':true" type="msg.type"
             close="close_message(msg.id)" class="text-left"
             ng-animate="'message-list'">
        {[ msg.date | date:'yyyy MMM d HH:mm:ss' ]}<br/>
        <b>{[ msg.message ]}</b>
      </alert>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/home.js"></script>
<script src="/static/js/controller_edit.js"></script>
<script src="/static/js/profile_edit.js"></script>
{% endblock %}
