<form class="form-horizontal text-center">
  <legend class="text-center">Profile Setting</legend>
  <div style="display: inline-block; margin-left: -100px">
    <div class="control-group">
      <label class="control-label" for="profile-name">Name</label>
      <div class="controls">
        <input type="text" id="profile-name" placeholder="Profile Name"
               ng-model="value.name" class="input-medium" required/>
      </div>
    </div>
    <div class="control-group" ng-repeat="ctrl in value.ctrls">
      <label class="control-label" for="profile-{[ctrl.id]}">{[ctrl.name]}</label>
      <div class="controls">
        <input type="number" id="profile-{[ctrl.id]}"
               placeholder="Temperature for {[ctrl.name]}"
               ng-model="value.temps[ctrl.id]" step="any" class="input-medium"/>
      </div>
    </div>
    <div collapse="!show_advanced">
      <div class="control-group">
        <label class="control-label" for="ctrl-order">Order</label>
        <div class="controls">
          <input type="number" id="ctrl-order" placeholder="Profile Order."
                 ng-model="value.order" step="any" class="input-medium">
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" ng-click="submit(value)">
          <i class="icon-ok icon-white"></i> OK
        </button>
        <button class="btn" ng-click="show_advanced = !show_advanced">
          {[{true: 'Show Advanced', false: 'Hide Advanced'}[!show_advanced]]}
        </button>
      </div>
    </div>
  </div>
</form>
