<form class="form-horizontal text-center">
  <legend class="text-center">
    Server Setting
    <button class="close" style="padding: 10px; float: right;"
            ng-click="close()">
      &times;
    </button>
  </legend>
  <div style="display: inline-block; margin-left: -100px">
    <div class="control-group">
      <label class="control-label" for="server-name">Name</label>
      <div class="controls">
        <input type="text" id="server-name" placeholder="Server Name"
               ng-model="value.name" class="input-medium" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="server-addr">Address</label>
      <div class="controls">
        <input type="text" id="server-addr" placeholder="Server Address"
               ng-model="value.addr" class="input-medium" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="server-port">Port</label>
      <div class="controls">
        <input type="number" id="server-port" placeholder="Server Port."
               ng-model="value.port" step="1" min="1" max="65535"
               class="input-medium" required>
      </div>
    </div>
    <div collapse="!show_advanced">
      <div class="control-group">
        <label class="control-label" for="server-order">Order</label>
        <div class="controls" ng-switch="!show_advanced">
          <input type="number" id="server-order" placeholder="Server Order."
                 ng-model="value.order" step="any" class="input-medium"
                 ng-switch-when="false">
          <input type="number" id="server-order" placeholder="Server Order."
                 ng-model="value.order" step="any" class="input-medium"
                 ng-switch-default tabindex="-1">
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-small btn-primary" ng-click="submit(value)">
          <i class="icon-ok icon-white"></i> OK
        </button>
        <button class="btn btn-small" ng-click="show_advanced = !show_advanced">
          {[{true: 'Show Advanced', false: 'Hide Advanced'}[!show_advanced]]}
        </button>
      </div>
    </div>
  </div>
</form>
